<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <header class="header">
      <div class="name">
         <span>Ivan Code</span>
      </div>
      <div class="cv">
         <span>Blog</span>
         <span>Cv</span>
      </div>
   </header>
   <div class="backgroung-particles" id="particles-js"></div>
   <div class="content">
      <div class="title">
         <span>Ivan Code</span>
      </div>

      <div class="description">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga magnam ipsam voluptas fugit expedita ratione vitae necessitatibus! Culpa, quisquam expedita molestiae perspiciatis est doloribus eveniet eius, ea velit magni consequuntur.</span>
      </div>

   </div>

</body>

</html>
