<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <header class="header">
      <div class="name">
         <span>Ivan Code</span>
      </div>
      <div class="cv">
         <span>Blog</span>
         <span>Cv</span>
      </div>
   </header>
   <div class="backgroung-particles" id="particles-js"></div>
   <div class="content">
      <div class="title">
         <span>IvanCode</span>
      </div>
      <div class="full-name">
         <span>Alex Ivan Bornachera Lasso</span>
      </div>

      <div class="description">
         <span>
            Ingeniero de sistemas, con dos años y medio de experiencia desarrollando aplicaciones móviles, web y de
            escritorio, me he desempeñado como frontend y full-stack dependiendo del proyecto ejecutado, cuento con
            conocimiento en varias tecnologías emergentes y me gusta actualizarme a diario para mejorar mis skills
         </span>
      </div>

      <div class="social-red">
         <i (click)="onClick()" class='bx bxl-linkedin-square'></i>
         <i class='bx bxl-github'></i>
         <i class='bx bxl-instagram-alt'></i>
         <i class='bx bxl-twitter'></i>
      </div>

   </div>

</body>

</html>
